<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Login</title>
  </head> 
<!-------------HTML-------------------------------------------------------------------------------------->
<link rel="stylesheet" type="text/css" href="{% static 'style_login.css'%}"/>
{% block content%}
<body id="bk">
    <div class="container" id="A">
            <div style="position: relative; left: 0; top: 0;">
                    <img src="{% static "KMUTT.png" %}" id="kmutt"/>
                    <div id="logo"><img src="{% static "Logo.png"%}" id="act"/></div>
            <div class="container text-center " id="block">
                            
                            <form method="post" >
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label for="username">Username</label>
                                      <input type="text" class="form-control" name = 'username' id="username" placeholder="username ">
                                    </div>
                                    <div class="form-group">
                                      <label for="password">Password</label>
                                      <input type="password" class="form-control" name = 'password' id="password" placeholder="password">
                                    </div>
                                    <button type="submit" class="btn btn-warning  btn-lg ">Submit</button>
                                  
                                  <a id="forget">Forget Password</a>
                            </form>
                            
                    </div>
                  </div>
    </div>
              

<script src="{% static 'script_login.js' %}"></script>

 
</body>
{% endblock content%}  
</html>
