<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Template</title>
  </head> 
<!-------------HTML-------------------------------------------------------------------------------------->
<body>  
        <div style="text-align: center; margin-top: 10%; font-weight: bolder; font-size: 150%;">
                <h1 style="margin-bottom: 3%;">ระเบียบการใช้สถานที่</h1>
                <div>1. ระเบียบการใช้สถานที่</div>
                <div>2. ระเบียบการใช้สถานที่</div>
                <div>3. ระเบียบการใช้สถานที่</div>
                <div>4. ระเบียบการใช้สถานที่</div>
                <div>5. ระเบียบการใช้สถานที่</div>

        </div>
 
<!--------------CSS-------------------------------------------------------------------------------------->
<style>

  
</style>
<!---------JavaScript------------------------------------------------------------------------------------>
<script>

</script>
<div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</div>
</body>
</html>