<!doctype html>
{% load static %}
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/style_home.css' %}">
    <title>Paper Management</title>
  </head> 
<!-------------HTML-------------------------------------------------------------------------------------->

<body style="background-image: url({% static "img/login/KMUTT.png"%});">
    <div class=" card container" id="Menu">
        <div ><a href="{% url 'team' %}"><img src="{% static "img/login/Poala_1.png"%}" id="logo" alt="Logo" ></a></div>
        <div> <h3 id = 'Name'>{{name}}</h3></div>
        <a href="{% url 'profile' %}" id="Profile">Profile</a>
        <a href="{% url 'user_logout' %}" id="signout">Sign Out</a>
        <button id="Menu1" onclick="Menu1()" class="btn btn-outline-light btn-lg btn-block M"><div class="container T " >แบบฟอร์มเอกสาร</div></button>
        <button id="Menu1" onclick="Menu2()" class="btn btn-outline-light btn-lg btn-block M"><div class="container T " >เอกสารที่ส่ง</div><span class="badge badge-light" id="Count"></span></button>
        <div id="Hide"><button id="Menu3" onclick="Menu3()" class="btn btn-outline-light btn-lg btn-block M"><div class="container T " >การพิจารณาเอกสาร</div><span class="badge badge-light" id="Count_T"></span></button></div>
    </div>
    <div id="from" >
            <div class="container row-3">
                <a href="From_place_V2.html" class="link" target="_blank"><div class="card" id="paper"><div class="overlay text">ขอใช้สถานที่</div></div></a>
                <a href="Team.html" class="link"><div class="card" id="paper"><div class="overlay text">ตัวอย่าง</div></div></a>
                <a href="Team.html" class="link"><div class="card" id="paper"><div class="overlay text">ตัวอย่าง</div></div></a>
                <a href="Team.html" class="link"><div class="card" id="paper"><div class="overlay text">ตัวอย่าง</div></div></a>    
            </div>
        </div>
    


<!---------JavaScript------------------------------------------------------------------------------------>

<input id="Role" value= {{request.session.user_role}} hidden>
<script src="{% static 'js/home/Notification.js' %}"></script>
<script src="{% static 'js/home/Index.js' %}"></script>

<div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</div>
</body>
</html>